<mat-toolbar  color="primary" class="nav">   

    <!-- <div>
        <p>Project-management-application</p>
    </div> -->

    <div>
        
        <button mat-button  routerLink="project" routerLinkActive="active" [routerLinkActiveOptions]="{exact:false}"><a>Projects</a></button>
        <button mat-button  routerLink="user" routerLinkActive="active" [routerLinkActiveOptions]="{exact:false}"><a>Employees</a></button>
        <button mat-button  routerLink="leave" routerLinkActive="active" [routerLinkActiveOptions]="{exact:false}"><a>Leaves</a></button>
        <button mat-button  routerLink="report" routerLinkActive="active" [routerLinkActiveOptions]="{exact:false}"><a>Reports</a></button>
    </div>
<!-- 
    <div>
        
    </div> -->
  </mat-toolbar>
